.App {
  align-items: center;
  display: flex;
  text-align: center;
  flex-direction: column;
  
}

.game-image{
  width: 500px;
}

.characters{
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  
  
}

.character{
  width: 60px;

}